# --- Сборка и временные файлы ---
target/
build/
*.class
*.jar
*.war
*.log

# --- Среды разработки ---
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.factorypath

# --- Системные файлы ---
.DS_Store
Thumbs.db

# --- Данные приложения ---
/uploads/

# --- Spring/STS ---
.apt_generated
.springBeans
.sts4-cache